/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: content-box;
    border: solid #007bff 1px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#watershed {
    padding-left: 20%;
}

.dropdown-menu > li > a:hover {
    background-color: #007bff;
    background-image: none;
}

.dropdown-submenu > ul > li > a:hover {
    background-color: #007bff;
    background-image: none;
}
